= simple_form_for(@encounter) do |f|

  .form-inputs
    = f.input :name
    = f.input :tag_list, :as => :text,:input_html => { :rows => 3, :class => "text-box"}
    = f.file_field :photo

    %p
      = f.button :submit,  :class => 'btn btn-success'


