%h1.header Encounters

= link_to new_encounter_path, {:class=>'btn btn-success'} do
  %span
    New Encounter
    %i{:class=>'icon-check icon-white'}



&nbsp;
%a.btn.btn-info{:href => "#tags"}
  Tags
  %i.icon-tags.icon-white
#half-right
  =form_tag encounters_path, :method => 'get' do
    =text_field_tag :search, params[:search]
    #search-padding
      =submit_tag "Search", :name => nil


#button-padding

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th= sortable "name", "Name"
    %th= sortable "created_at", "Date"

    %th= sortable "Actions"

  - @encounters.each do |encounter|
    %tr
      %td= link_to encounter.name, encounter
      %td= encounter.created_at.in_time_zone("Eastern Time (US & Canada)").  strftime("%b %d %Y %I:%M %p")


      %td

        = link_to edit_encounter_path(encounter), {:class=>'btn btn-primary'} do
          %span
            Edit
            %i{:class=>'icon-edit icon-white'}
        &nbsp;
        = link_to 'Destroy', encounter, :method => :delete, :data => { :confirm => 'Are you sure?' } , :class=>'btn btn-danger'



%br


= link_to new_encounter_path, {:class=>'btn btn-success'} do
  %span
    New Encounter
    %i{:class=>'icon-check icon-white'}

%h1.header Tags

%a#tags
.well
  #tag_cloud
    - tag_cloud(@tags, %w(s m l)) do |tag, css_class|
      = link_to tag.name, tagged_url(:tag => tag.name), :class => css_class

