%a#top

.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#one"} Encounters
    %li
      %a{"data-toggle" => "tab", :href => "#two"} Tags

.tab-content
  #one.tab-pane.active
    %a.btn.btn-success{"data-toggle" => "modal", :href => "#myModal", :role => "button"}
      %span
      New Encounter
      %i{:class=>'icon-plus icon-white'}

    &nbsp;
    %a.btn.btn-info{:href => "#bottom"}
      Bottom
      %i.icon-arrow-down.icon-white

    &nbsp;
    = link_to encounters_path(format: "csv"), {:class=>'btn btn-info'} do
      %span
        CSV
        %i{:class=>'icon-list-alt icon-white'}


    #button-padding
    #table
      %table.table.table-striped.table-bordered.table-condensed
        %tr
          %th= sortable "name", "Name"
          %th= sortable "created_at", "Date"
          %th.actionwidth= sortable "Actions"

        - @encounters.each do |encounter|
          %tr
            %td= link_to encounter.name, encounter
            %td= encounter.created_at.in_time_zone("Eastern Time (US & Canada)").  strftime("%b %d %Y %I:%M %p")


            %td
              &nbsp;
              = link_to edit_encounter_path(encounter), {:class=>'btn btn-primary'} do
                %span
                  Edit
                  %i{:class=>'icon-edit icon-white'}
              &nbsp;

              /= link_to encounter, :method => :delete, :data => { :confirm => 'Are you sure?' } , :class=>'btn btn-danger' do
              /  %span
              /    Delete
              /    %i{:class=>'icon-fire icon-white'}

    #half-right
      #search
      =form_tag encounters_path, :method => 'get' do
        =text_field_tag :search, params[:search]
        #search-padding
          =submit_tag "Search", :name => nil, :class => 'btn btn-info'
    #div1
      %a.btn.btn-success{"data-toggle" => "modal", :href => "#myModal", :role => "button"}
        %span
        New Encounter
        %i{:class=>'icon-plus icon-white'}

      &nbsp;


      %a.btn.btn-info{:href => "#top"}
        Top
        %i.icon-arrow-up.icon-white

  #two.tab-pane
    .well
      #tag_cloud
        - tag_cloud Encounter.tag_counts.sort { |x, y| x.name <=> y.name }, %w(s m l) do |tag, css_class|
          = link_to tag.name, tagged_url( :tag => tag.name ), :class => css_class



/Modal


#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} x
    %h3#myModalLabel New Encounter

  .modal-body
    #half

      = render 'form'


    .large
      .well

        #tag_cloud
          - tag_cloud(@tags, %w(s m l)) do |tag, css_class|
            = link_to tag.name, '#', :class => css_class + " cloud_tag"











%a#bottom
