%p
  %b Name:
  = @encounter.name
%p
  %b Date:
  = @encounter.date


- @encounter.tags.each do |tag|
  = link_to tag.name, tagged_url(:tag => tag.name)
%p
= link_to 'Edit', edit_encounter_path(@encounter)
\|
= link_to 'Back', encounters_path

= render 'notes/form'


#notes
  - @encounter.notes.each do |note|
    = render note


