#half
  %h1.header Info
  #half
    /= image_tag @encounter.photo.url(:small)
    %p

      %b.label.label-info  Name:
      = @encounter.name
    %p
      &nbsp;
      %b.label.label-info  Date:
      = @encounter.created_at.in_time_zone("Eastern Time (US & Canada)").  strftime("%b %d %Y %I:%M %p")
    %p
    #button-padding
    = link_to edit_encounter_path(@encounter),{:class=>'btn btn-primary'} do
      %span
        Edit
        %i{:class=>'icon-edit icon-white'}


  #half
    %p
      %b.label.label-info Assigned Tags:
    %p
      - @encounter.tags.each do |tag|
        = link_to tag.name, tagged_url(:tag => tag.name), {:class => 'badge badge-default'}



  .notes_section

    = render 'notes/form'


    #notes
      - @encounter.notes.each do |note|
        = render note


.large
  %h1.header Tags
  .well.clearfix

    #tag_cloud
      - tag_cloud Encounter.tag_counts.sort { |x, y| x.name <=> y.name }, %w(s m l) do |tag, css_class|
        = link_to tag.name, tagged_url( :tag => tag.name ), :class => css_class + " cloud_tag"

    .clear=render 'encounters/shortform'






